{% extends 'TwigBundle:Exception:layout.html.twig' %}

{% block body %}
    <div class="row error">
        Oups cette page n'existe pas !!
        <p style="font-size: 200px;">Erreur 4<i class="fa fa-ban"></i>4</p>
    </div>
{% endblock %}
