<div style="font-size: 18px;" class="alert alert-info" role="alert">Vous avez la possibilité de  Changer votre mot de passe ici !!!</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default" id="change" style="background: white !important;color:black !important;">
            <div class="panel-heading" style="background: white !important;color:black !important;border-color: #C90000 !important;">
                <p style="text-align: center;"><i class="fa fa-key fa-5x"></i></p>
                <h3><strong> Modiication du Mot de passe </strong></h3>
            </div>
            <div class="panel-body" id="changeP">
                <form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                    {{ form_widget(form) }}
                    <div class="submit" style="margin-top: 5%;">
                        <input id="changeSubmit" style=" background: #C90000; color:white;border-color: #C90000" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"/>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

