{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="alert alert-warning" role="alert" id="error">
        <i class="fa fa-exclamation-triangle fa-2x"></i> {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
    </div>
{% endblock fos_user_content %}
