{% extends '::base.html.twig' %}

{% block body -%}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Liste des Types de Voitures</div>
    <br />

        {% for entity in entities %}
            <div class="col-md-2">
                <div class="panel panel-back noti-box">
                    <a href="{{ path('voiture_informations', {'id' : entity.id}) }}">
                        <span class="icon-box bg-color-dark set-icon">
                            <i class="fa {{ entity.faClass }}"></i>
                        </span>
                    </a>
                    <div class="text-box">
                        <p style="font-size: 15px" class="main-text">{{ entity.nom }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}

    {% endblock %}
